<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Vue">
  <meta name="author" content="Мысягин Дмитрий">
  <link rel="stylesheet" href="../theme.css">
  <title>Vue app</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
  <div class="container pt-5" id="app3" v-cloak>
    <div class="card center">
      <!-- <h2 v-text="title"></h2>
      <h2 v-once> {{ title }}</h2>
      <h2 v-pre> {{ title }}</h2>

      <button 
      class="btn"
      @click="title = 'SSSSS' " >
      </button> -->

      <div v-html="myHtml"></div>
      <ul class="list" v-if="items.length">
        <li
        class="list-item" 
        v-for="(item,index) in eventItems"
        @click="items.splice(index,1)"
        :key="item"
        >
         <strong>{{ item }}</strong>&nbsp;
         <input 
         @click.stop
         >
        </li>
      </ul>
      <h3 v-show="items.length === 0">Элементов нет</h3>
      </div>
      </div>


  <script src="https://unpkg.com/vue@3"></script>
  <script src="./app.js"></script>
</body>
</html>