<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Vue">
  <meta name="author" content="Мысягин Дмитрий">
  <link rel="stylesheet" href="../theme.css">
  <title>Vue app</title>
</head>
<body>
  <div class="container pt-5" id="app2">
    <div class="card">
      <h1>{{ title }}</h1>
        <div class="form-control">
          <input 
          type="text"
          :placeholder="myPlaceHolder"
          :value="inputValue"
          @input="inputHandler"
          @keypress.enter="submitHandler"
          />
        </div>
        <button class="btn primary" v-on:click="submitHandler" >Добавить</button>
        <hr />
        <ul class="list" v-if="notes.length !== 0">
          <li class="list-item" v-for="(note, index) in notes">
            {{ toUpperCase(note) }} 
            <button class="btn danger" @click="deleteNote(index)">Удалить</button>
          </li>
        </ul>
        <div v-else>Заметок нет, добавьте новую</div>
        </div>
      </div>


  <script src="https://unpkg.com/vue@3"></script>
  <script src="./app.js"></script>
</body>
</html>